@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body {
  background-color: #787874;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans Mono', monospace;
}

footer .copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}
